<div class="col-12 mx-auto">
    <h5 class="text-center">Data Bangunan Tahun 2017&nbsp;&nbsp;<%= link_to icon_plus(""), new_building_path %></h5>
</div>
<div class="col-12">
  <table class="table table condensed table-bordered">
      <thead>
        <tr>
          <th class="lead text-center" rowspan="2">No</th>
          <th class="lead text-center" rowspan="2">Nama Pemilik</th>
          <th class="lead text-center" colspan="3">Jenis Bangunan</th>
          <th class="lead text-center" rowspan="2">Tahun</th>
          <th class="lead text-center" rowspan="2">Jumlah Lantai</th>
          <th class="lead text-center" colspan="5">Luas Bangunan(m2)</th>
          <th class="lead text-center" rowspan="2">Jenis Jalan(m2)</th>
          <th class="lead text-center" colspan="2">Sertifikat Tanah</th>
          <th class="lead text-center" colspan="2">IMB</th>
          <th class="lead text-center" rowspan="2" colspan="3">KET</th>
        </tr>
        <tr>
          <th class="lead text-center">P</th>
          <th class="lead text-center">SP</th>
          <th class="lead text-center">DR</th>
          <th class="lead text-center">RMH TGL</th>
          <th class="lead text-center">RUKO</th>
          <th class="lead text-center">KANTOR</th>
          <th class="lead text-center">GDG</th>
          <th class="lead text-center">DLL</th>
          <th class="lead text-center">ADA</th>
          <th class="lead text-center">TDK</th>
          <th class="lead text-center">ADA</th>
          <th class="lead text-center">TDK</th>
        </tr>
      </thead>
      <tbody>
        <% if params[:page].nil? || params[:page]== "0" || params[:page]=="1" %>
          <% x = 0 %>
        <% else %>
          <% page = params[:page].to_i - 1 %>
          <% x = page*10 %>
        <% end %>
        <% @buildings.each_with_index do |building, i| %>
        <tr>
          <td class="lead text-center"><%= i = i + x + 1 %></td>
          <td class="lead text-left"><%= link_to building.pemilik, edit_building_path(building) %></td>
          <td class="lead text-center"><%= building.permanen %></td>
          <td class="lead text-center"><%= building.semi_permanen %></td>
          <td class="lead text-center"><%= building.darurat %></td>
          <td class="lead text-center"><%= building.tahun %></td>
          <td class="lead text-center"><%= building.lantai %></td>
          <td class="lead text-center"><%= building.rumah_tinggal %></td>
          <td class="lead text-center"><%= building.ruko %></td>
          <td class="lead text-center"><%= building.kantor %></td>
          <td class="lead text-center"><%= building.gudang %></td>
          <td class="lead text-center"><%= building.dan_lain_lain %></td>
          <td class="lead text-center"><%= building.jenis_jalan %></td>
          <td class="lead text-center"><%= building.ada_sertifikat_tanah %></td>
          <td class="lead text-center"><%= building.tidak_ada_sertifikat_tanah %></td>
          <td class="lead text-center"><%= building.ada_imb_bangunan %></td>
          <td class="lead text-center"><%= building.tidak_ada_imb_bangunan %></td>
          <td class="lead text-center"><%= building.notes %></td>
        </tr>
        <% end %>
      </tbody>
  </table>
</div>
<div class="col-12">
  <p>
    Download:
    <%= link_to "CSV", buildings_path(format: "csv") %> |
    <%= link_to "Excel", buildings_path(format: "xlsx") %>
  </p>
  <!-- <%#= form_tag import_buildings_path, multipart: true do  %>
    <label class="btn btn-secondary">
      Upload
      <span style="display:none;">
        <%#= file_field_tag :file, as: :hidden %>
      </span>
    </label>
  <%# end %> -->
  <%= link_to "Download",buildings_path(format: :xlsx), class: "btn btn-success" %>
  <%= form_tag import_buildings_path, multipart: true do %>
    <%= file_field_tag :file %>
    <%= submit_tag "Import" %>
  <% end %>
</div>
<div class="col-12">
  <%= paginate @buildings %>
</div>
