<!DOCTYPE html>
<html>
  <head>
    <title>IMB</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag 'logo_pu.ico', :rel => 'shortcut icon' %>
  </head>

  <body>
    <%= render "layouts/navigation/nonlogin_navigation" %>
    <br />
    <div class="container-fluid">
      <div class="row">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
